body{
    font-family:sans-serif;
    background-color: #F8F8F8;
}

.title-1{
    font-size: 5vw;
    margin-left: 4vw;
    position: absolute;
}

.title-2{
    font-size: 5vw;
    margin-left: 8vw;
    margin-top: 12vw;
    position: absolute;
}

.parrafo-button{
    position: absolute;
    width: 42vw;
    height: 45vh;
    margin-left: 7vw;
    margin-top: 18vw;
}

.barra{
    position: absolute;
    width: 0.3vw;
    height: 30vh;
    background-color: black;
    margin-top: 20vw;
    margin-left: 5vw;
}
.parrafo{
    position: absolute;
    font-size: 1.6vw;
}

.get_started{
    position: absolute;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: black;
    color: white;
    width: 12vw;
    height: 3vw;
    border-radius: 2vw;
    margin-top: 12vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    position:absolute;
    margin-top: 10vw;
    margin-left: 52vw;
    width: 35vw;
}